body {

    font-family: Arial, sans-serif;


}
 h2{
    text-align: center;
 }   
.container {
  
    max-width: 400px;
    height: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow:4px 10px 20px black;
    margin-right: 50%;
    margin-top: 5%;
    font-family: cursive;
}
.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    font-weight: bold;
}
input[type="text"], input[type="date"], select {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
