
        .container {
            height: 640px;
              
           padding: 4px;
           margin: 4px;
            width: 1280px;
            
        
        }
        .container1{ 
            
            display: flex;

        }
        .container1{
            height: 250px;
            width: 1280px;
            
        }
        .container2{
            border: 2px solid black;
        }
        .box{
          
                
                padding: 2px;
                margin: 2px;
                height:300px ;
                width: 400px;
                float: left;
                margin-left: 5%;
                margin-top: 5%;
             
                border-radius: 5px;
                font-family: cursive;
               
            }
            .box1{ 
                margin-left: 20%;
                box-shadow: 4px 6px 8px black;
               float: left;
                border: 2px solid black;
            }
            .box2{
                margin-left:2% ;
                width: 500px;
                font-size:30px;
                text-shadow: 2px 4px 6px white;

            }
            .container3{
                border: 2px solid black;
                text-align: center;
                font-size: large;
            }
            .box10{
                color:black;
                padding: 5px;
                margin: 5px;
                height:180px ;
                width: 200px;
                float: left;
                margin-left: 80px;
                margin-top: 50px;
                box-shadow: 4px 6px 8px black;
               
                font-family: cursive;
                text-shadow:2px solid yellow;
                border-radius: 10px;
           
            }
            .box11 img{
         border-radius: 5px;
            }
            .button{
                background-color:aliceblue;
            }
            .marquee{
                font-size: 20px;
                background-color: aqua;
            }

           
          
     .container4{
        border: 2px solid black;
        text-align: center;
    }
  
       