.container{
    height:1200px;
    width: 1200px;
    border: 2px solid black;
}
nav {
    display: flex;
    justify-content:left;
    
    
    padding: 0.8em 0;
  }

  nav a {
    color: black;
    text-decoration: none;
    padding: 0.8em 2em;
    text-shadow: 1px 2px lightblue;
    transition: background-color 0.3s ease;
  }

  nav a:hover {
    background-color: #555;
  }
  .box {
   
    padding: 3px;
    margin: 3px;
    height: 300px;
    width: 300px;
    float: left;
    margin-left: 80px;
    margin-top: 100px;
 
    border-radius: 5px;
    font-family: cursive;
    text-shadow: 2px solid yellow;
}
.box12{
    margin-left: 10%;
    border-radius: 50%;
    border: 2px  4px solid black;
}
.box11{
    width: 300px;
    height: 200px;
    margin-top:10%;
    margin-left:20% ;
    text-shadow: 2px 4px white;
}
.box12 img {
    border-radius: 50% ;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 1em;
    border: 5px solid black;
  }
.box11{
    font-size: 20px;
    text-align:left;
}
.bn30 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.bn30 .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.bn30:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.bn30:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.bn30:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}